<div class="container-fluid py-5 bg-white">
  <div class="position-relative mb-4 mx-auto" style="max-width: 600px;">
    <h1 class="fs-2 fw-semibold">Contact Us</h1>
    <p>
      If you feel like getting in touch with us, we are happy to receive your comments and help you out!
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="p-4 bg-light border w-100" style="max-width: 600px;">
      <form class="mx-auto">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Your email</label>
          <input type="email" class="form-control" placeholder="your email" required>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
          <textarea class="form-control" rows="4" placeholder="Please enter your message here ..." required></textarea>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
