<div class=".container" style=height:500px;">

    <div
        style="background-image:url(/website/assets/img/bg.jpg); background-repeat: no-repeat;  height:100vh; width:100%; background-size:contain; object-fit:none; ">
        <div class="d-flex row position-absolute top-50 start-50 translate-middle"></div>">
        <div>
            <h1 class="bg-light"> One Page Wonder</h1>
        </div>
        <div>
            <h2 class="bg-light">Will Knock Your Socks Off</h2>
        </div>
        </div>

    </div>
</div>
